
header {
    background-color: cornsilk;
    display:grid;
    grid-template-columns: 1fr 1fr;
    height: 50px;
    align-items: center;
    padding: 10px;
    margin: 10px auto;
    width: 90vw;
}
header nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: start;
    
}
header nav a{
    text-decoration: none;
    
}
header div{
    display: grid;
    justify-items: start;
}
header div img{
    height: 40px;
    width:100%;
    object-fit: contain;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    background-color: cornsilk;
}
img{
    height: 300px;
    width: 300px;
    object-fit: cover;
}
.appetizer,.mainCourse,.sides{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
align-items: center;
justify-items: center;
width: 90vw;
margin: 0 auto;
background-color: cornsilk;
}
article p{
    font-style: italic;
}