@keyframes blurAnimation{
    25% {
        filter: blur(15px);
    }
    50%{
        filter:blur(10px);
    }
    75%{
        filter: blur(5px);
    }
    100%{
        filter:blur(0px);
    }

}
@font-face {
    font-family: customized;
    src: url("../Parisienne/Parisienne-Regular.ttf") format("ttf");
    font-weight: regular;
}

body {
    font-family: monospace;
    font-size: 16px;
    margin: 0 auto;
    width: 100%;
}

img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    margin: auto;
    filter: blur(0px);
    animation: blurAnimation 4s ease-in-out ;
}

header {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.nav {
    text-align: center;
    display: grid;
    font-size: 1.6rem;
    width: 100%
}

.nav a {
    text-decoration: none;
    background-color: red;
    margin: 4px;
    color:white;
    box-sizing: border-box;
    transition: all .33s ease-out;
}
.nav a:hover{
    padding: 15px;
    background-color: red;
    z-index: 2;
}
#logo img {
    height: 40px;
    width: 100%;
    object-fit: contain;
    border-bottom: 1px solid gray;

}

article div {
    justify-self: center;
}

article {
    display: grid;
    place-items: center;
    background-color: white;
}

#appetizers {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 0 auto;
    align-items: center;
    justify-items: center;
    width: 100%;
    box-sizing: border-box;

}

#mainCourse {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 0 auto;
    align-items: center;
    justify-items: center;
    width: 100%;
    box-sizing: border-box;
}

#sides {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 0 auto;
    align-items: center;
    justify-items: center;
    width: 100%;
    box-sizing: border-box;
}

footer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    background-color: grey;
}

footer #footer_second {
    display: grid;
    grid-template-rows: 1fr;
    text-align: center;
}

#footer_second a {
    text-decoration: none;
    margin: 5px;
}

a:link {
    color: black;
    font-weight: bold;
}
h3{
    transition: font-size .6s ease-in-out;
}
h3:hover{
font-size: 25px;
}
@media only screen and (min-width:600px) {

    #appetizer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        margin: 0 auto;
        align-items: center;
        justify-items: center;
        width: 100%;
    }

    #mainCourse {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        margin: 0 auto;
        align-items: center;
        justify-items: center;
        width: 100%;

    }

    #sides {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        margin: 0 auto;
        align-items: center;
        justify-items: center;
        width: 100%;

    }

    main {
        background-image: url("../images/textures.jpg");
        margin: 0 auto;
        background-size: cover;
    }
}

/* media query for desktop */
@media only screen and (min-width:1000px) {


    header {
        display: grid;
        align-items: center;
        justify-items: center;
        width: 100%;
        margin: 20px auto 0px auto;
    }

    #logo img {
        border-bottom: none;
    }

    .nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .nav a {
        border: 1px solid grey;
        background-color: white;
        color: black;
        margin: 0px;

    }

    main {
        background-image: url("../images/textures.jpg");
        width: 100%;
        background-size: cover;
    }

    article {
        margin-top: 10px;

    }

    #appetizer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 0px;
        justify-items: center;
        align-items: center;
        justify-items: center;
        width: 100%;
        margin: 0 auto;
    }

    #mainCourse {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        margin: 0 auto;
        align-items: center;
        justify-items: center;
        width: 100%;

    }

    #sides {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        margin: 0 auto;
        align-items: center;
        justify-items: center;
        width: 100%;

    }
}