body{
    font-family: monospace;
}
/* adjacent selector */
main+p{
 background-color: orange;
 ;
}
/* descendant selector */
article p{
    color: grey;
    font-weight: bold;
}
article p::first-line{
    color:orange;
    font-size: 14px;
}
/* child selector */
header > h1{
    letter-spacing: 2px;
}
 footer a:link{
     color: blue;
 }
 footer a:visited{
     color:purple;
 }
 footer a:hover{
     color:dimgray;
     font-size: 20px;
 }
 footer a:active{
     color:lightcoral;
 }
 footer section{
     font-size: 14px;
 }